.notesApp{
    background-color: #fff;
    border: 4px solid #3d8577;
    padding: 20px;
    display: table;
    margin: 10% auto 0;
    width: 100%;
    max-width: 500px;
}
.notesApp h2 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 25px;
    text-align: center;
    color: #3d8577;
    font-weight: bold;
    text-shadow: 2px 2px 4px #3d8577;
}
.singleNote{
    padding: 10px;
    margin: 0 0 10px;
    border-radius: 3px; 
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.NoteField{
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 10px;
    box-sizing: border-box;
}

.addNoteBtn {
    border: none;
    padding: 10px;
    display: block;
    width: 50%;
    float: left;
    color: #fff;
    background-color: #3d8577;
    border-right: 1px solid #fff;
}

.logOutBtn {
    border: none;
    padding: 10px;
    display: block;
    float: left;
    width: 50%;
    color: #fff;
    background-color: #314e48;
}